<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.zms"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.Interceptor.page.MyPageInterceptor">
            <property name="default.pageNo" value="0"/>
            <property name="default.pageSize" value="10"/>
            <property name="default.useFlag" value="true"/>
            <property name="default.checkFlag" value="true"/>
        </plugin>
    </plugins>
    <mappers>

    </mappers>
</configuration>
